/* Reset */

body, h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

/* Projeto */

/* Menu */

header.menu {
	background: #252525;
	padding: 20px 0;
}

div.menu-container {
	max-width: 960px;
	margin: 0 auto;
}

div.menu-container::before, div.menu-container::after {
	content: '';
	display: table;
	clear: both;
}

a.menu-logo {
	float: left;
	display: block;
	margin-left: 10px;
}

nav.menu-nav {
	float: right;
	margin-right: 10px;
}

nav.menu-nav ul li {
	display: inline-block;
}

nav.menu-nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.125em;
}

/* Introdução */

main.intro {
	background: url('../img/bg-intro.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
	padding: 150px 0;
}

main.intro h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
}

main.intro h1::after {
	content: '';
	width: 20px;
	height: 4px;
	display: block;
	background: #FFFFFF;
	margin: 10px auto;
}

main.intro p {
	font-style: italic;
	font-size: 1.125rem;
}

/* Sobre */

section.sobre {
	padding: 60px 0;
}

section.sobre div.sobre-container {
	max-width: 960px;
	margin: 0 auto;
}

section.sobre div.sobre-container::before, section.sobre div.sobre-container::after {
	content: '';
	display: table;
	clear: both;
}

section.sobre h2 {
	text-align: center;
	font-size: 2.25rem;
	margin-bottom: 60px;
	text-transform: capitalize;
}

section.sobre>p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 460px;
	font-style: italic;
	margin: 20px auto;
	text-align: center;
}

section.sobre div.sobre-container div.sobre-item {
	width: 460px;
	float: left;
	margin: 0 10px;
}

section.sobre div.sobre-container div.sobre-item img {
	display: block;
	max-width: 100%;
}

section.sobre div.sobre-container div.sobre-item h3 {
	font-size: 2.25rem;
	background: #252525;
	color: #FFFFFF;
	width: 220px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	line-height: 1em;
	padding: 5px 0 10px 0;
	position: relative;
	top: -25px;
}

/* Produtos */

section.produtos {
	background: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
}

section.produtos div.produtos-container {
	max-width: 960px;
	margin: 0 auto;
}

section.produtos div.produtos-container::before, section.produtos div.produtos-container::after {
	content: '';
	clear: both;
	display: table;
}

section.produtos div.produtos-container div.produtos-item {
	width: 300px;
	float: left;
	margin: 0 10px 20px 10px;
}

section.produtos div.produtos-container div.produtos-item h2 {
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 20px;
}

section.produtos div.produtos-container div.produtos-item h2::before {
	content: '';
	display: block;
	margin: 20px auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 10px currentColor;
	background: currentColor;
}

section.produtos div.produtos-container div.produtos-item h2.produtos-paulista::before {
	color: #492901;
}

section.produtos div.produtos-container div.produtos-item h2.produtos-carioca::before {
	color: #c17139;
}

section.produtos div.produtos-container div.produtos-item h2.produtos-mineiro::before {
	color: #d7a54d;
}

section.produtos div.produtos-container div.produtos-item p {
	font-size: 0.875rem;
	line-height: 1.4em;
}

section.produtos a.produtos-btn {
	width: 180px;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0;
	margin: 20px auto 0 auto;
}